<div class="main-container">
    <div class="header-container">
      <div class="logo-container">
        <img src="assets/img/logo.jpg" height="80px" alt="Logo">
      </div>
      <div *ngIf="receiver !== null && receiver !== undefined && receiver !== ''" class="receiver-header">Talk to {{receiver}}</div>
      <div class="user-header">
        <button class="welcome-button">Welcome, {{username}}</button>
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </div>
  
    <div class="chat-table">
      <div class="user-list-col wt-justify cell-border">
        <wt-userlist [username]="username" class="user-container" (receiverUpdated)="onReceiverChange($event)"></wt-userlist>
      </div>
      <div class="wt-justify cell-border message-wrapper">
        <wt-messages [username]="username"></wt-messages>
      </div>
    </div>
  </div>
  