.main-container {
	display: flex;
	flex-direction: column;
  }
  
  .header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
  }
  
  .logo-container img {
	position: absolute;
	left: 0;
	height: 80px;
  }
  
  .receiver-header {
	font-size: 20px;
  }
  
  .user-header button {
	margin-left: 10px;
  }
  
  .chat-table {
	display: flex;
  }
  
  .user-list-col {
	flex: 1;
	border-right: 1px solid #ccc;
	padding-right: 10px;
  }
  
  .message-wrapper {
	flex: 5;
  }
  