.custom-list {
	margin: 0;
	padding: 0;
  }
  
  .custom-list-item {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
  }
  
  .list-icon {
	margin-right: 10px;
  }
  
  .list-icon i {
	font-size: 24px; /* Adjust icon size */
  }
  
  .list-content {
	flex: 1;
  }
  
  .list-content h4 {
	margin: 0;
  }
  