.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }
  
  .login-logo {
	margin-bottom: 20px;
  }
  
  .login-header {
	margin-bottom: 20px;
  }
  
  .login-input-container {
	display: flex;
	align-items: center;
  }
  
  .login-input {
	width: 200px;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
  }
  
  .login-button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .social-login {
	display: flex;
	margin-top: 20px;
  }
  
  .social-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-right: 10px;
  }
  
  .error-message {
	margin-top: 20px;
	color: red;
  }
  .connect-button {
	transform: none;
	z-index: 1;
  }
  
  .connect-button .elementor-flip-box__layer {
	transform-style: preserve-3d;
	backface-visibility: hidden;
  }
  .body{
    background: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg');
}