<div class="login-container">
    <div class="login-logo">
      <img src="assets/img/logo.png" height="100%" alt="Logo">
    </div>
    <div class="login-header">
      <div style="font: italic bold 30px/50px Georgia, serif;">
        Enter your username to connect to the chat room
      </div>
    </div>
    <div class="login-input-container">
      <input class="login-input" type="text" placeholder="Username" [(ngModel)]="username"
        (keyup)="($event.keyCode == 13) && connect(username)">
      <button class="login-button" (click)="connect(username)">Connect</button>
    </div>
    <div class="login-header">
      <div style="font: italic bold 18px/30px Georgia, serif;">Or Login with</div>
    </div>
    <div class="social-login">
      <button (click)="signInWithGoogle()" class="social-button">
        <img src="assets/img/social-google.png" height="100%" alt="Google">
      </button>
      <button (click)="signInWithFB()" class="social-button">
        <img src="assets/img/social-fb.png" height="100%" alt="Facebook">
      </button>
    </div>
    <div class="error-message" *ngIf="message !== undefined && message !== null">
      {{message}}
    </div>
  </div>
  